@import url("https://fonts.googleapis.com/css2?family=Rakkas&display=swap");

.logo {
  font-family: "Noto Kufi Arabic", sans-serif;
  font-size: 300%;
  color: black;
  margin-right: 3%;
  font-family: "Rakkas", cursive;
}
